:root {
  --font-logo: "Saira Stencil One";
  --font-one: "Roboto";
  --font-two: "Roboto" medium;
  --font-three: "Roboto" bold;
  --no-color: #ffff;
  --accent-color-one: #6CAC3D;
  --accent-color-two: #2D4872;
  --text-color: #171616;
  --dim-text-color: #595959;
  --button-color: #6cac3d;
  --button-accent-color: #82c054;
  --button-clik-color: #52971f;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: var(--font-three);
}

.open {
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

button {
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}

main {
  padding-top: 70px;
}

.conteiner {
  max-width: 414px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.new {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: white;
}

.new .conteiner {
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 16px 10px 14px;
}

.phone-butt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 41px;
  color: var(--no-color);
  background-color: var(--button-color);
  border: 1px solid var(--accent-color-one);
  border-radius: 3px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-butt-text {
  display: none;
}

.phone-butt:hover {
  background-color: var(--button-accent-color);
}

.phone-butt:focus {
  background-color: var(--button-clik-color);
}

.logo {
  font-family: var(--font-logo);
  font-weight: 400;
  font-size: 28px;
  color: var(--text-color);
}

.logo-m {
  color: var(--accent-color-two);
}

.logo-p {
  color: var(--accent-color-one);
}

.black-box.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.black-box {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 101%;
  height: 100vh;
  background-color: rgba(49, 32, 32, 0.6);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.black-box.is-hidden .navigation {
  transform: translateX(100%) scale(0.5);
}

.navigation {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(0) scale(1);
  transition: transform 500ms cubic-bezier(0.11, 0.97, 1, 1.39);
  width: 70%;
  height: 100%;
  padding: 45px 0 0 60px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #fafafa;
}

.close-menu {
  position: absolute;
  left: -38px;
  top: 0;
  z-index: 2;
}

.list-link {
  margin-bottom: 31px;
}

.list-link .item:not(:nth-last-child(-n+1)) {
  margin-bottom: 20px;
}

.list-link .link {
  font-family: var(--font-two);
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
  transition: color 25ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-link .link:hover,
.list-link .link:focus {
  color: #8400ff;
}

.link-mod {
  font-family: var(--font-one);
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  transition: color 25ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-mod:hover,
.link-mod:focus {
  color: var(--accent-color-one);
}

.list-contact .item {
  margin-bottom: 5px;
}

.tel {
  font-family: var(--font-one);
  font-weight: 700;
  font-size: 18px;
  color: var(--text-color);
  transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel:hover,
.tel:focus {
  color: #8400ff;
}

.tel .icon {
  fill: currentColor;
  margin-right: 5px;
}

.time {
  font-family: var(--font-one);
  font-weight: 400;
  font-size: 14px;
  color: #171616;
}

.hero {
  max-width: 414px;
  margin: 0 auto;
  padding-top: 63px;
  padding-bottom: 70px;
  background-color: #595959;
  background-image: linear-gradient(90deg, #fff 15%, rgba(255, 255, 255, 0) 100%), url(../imeges/mobile/hero-mobile1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.title {
  max-width: 309px;
  margin: 0;
  margin-bottom: 24px;
  font-family: var(--font-three);
  font-weight: 700;
  font-size: 34px;
  color: var(--text-color);
}

.price {
  margin: 0;
  font-style: var(--font-three);
  font-weight: 700;
  font-size: 30px;
  color: #000;
}

.number-price {
  font-size: 39px;
  margin: 0 5px;
  color: #fff;
  background-color: var(--accent-color-one);
  border-radius: 10px;
}

.list-hero {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 55px;
  padding-left: 30px;
}

.list-hero .items {
  display: inline-block;
  width: 130px;
  margin-right: 55px;
  position: relative;
}

.list-hero .items:nth-last-child(-n+2) {
  margin-top: 24px;
}

.list-hero .items:nth-last-child(-n+1),
.list-hero .items:nth-child(2n) {
  margin-right: 0;
}

.box-icons {
  display: inline-block;
  position: relative;
}

.box-icons::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  background-color: rgba(77, 184, 0, 0.6980392157);
}

.hero__box-icons::before {
  width: 20px;
  height: 21px;
}

.hero__ellipse-one::before {
  left: 35px;
  top: 1px;
}

.hero__ellipse-two::before {
  left: 21px;
  top: 39px;
}

.hero__ellipse-three::before {
  left: 20px;
  bottom: 2px;
}

.hero__ellipse-four::before {
  left: 30px;
  bottom: 13px;
}

.hero-text {
  font-family: var(--font-three);
  font-weight: 700;
  font-size: 14px;
  color: var(--text-color);
}

.calculator {
  display: block;
  padding: 10px 5px;
  margin-top: 33px;
  margin-left: auto;
  margin-right: auto;
  color: var(--no-color);
  background-color: var(--button-color);
  border: 1.5px solid var(--accent-color-one);
  border-radius: 3px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.calculator:hover {
  background-color: var(--button-accent-color);
  border: 1.5px solid var(--button-color);
}

.calculator:focus {
  background-color: var(--button-clik-color);
  border: 1.5px solid var(--button-accent-color);
}

.prices {
  padding-top: 33px;
  padding-bottom: 45px;
}

.prices-title {
  margin: 0;
  margin-bottom: 48px;
  text-align: center;
  font-family: var(--font-three);
  font-weight: 700;
  font-size: 36px;
  color: var(--text-color);
}

.price-repair {
  min-height: 600px;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 28px;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.price-repair .items {
  position: relative;
  height: 582px;
  padding-bottom: 31px;
  border-radius: 16px 16px 16px 16px;
  box-shadow: 0 0 10px 0 rgba(147, 147, 147, 0.25);
}

.price-repair .dropdown-cart {
  height: auto;
}

.price-repair .items + .items {
  margin-left: 25px;
}

.repair-box-top {
  width: 285px;
  height: 85px;
  padding-left: 23px;
  background: #e3eaef;
  border-radius: 16px 16px 0 0;
  display: flex;
  align-items: center;
}

.repair-imeges {
  margin-right: 4px;
}

.price-title {
  font-family: var(--font-three);
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--accent-color-one);
}

.repair-box-top .text {
  font-family: var(--font-three);
  font-weight: 700;
  font-size: 14px;
  color: var(--text-color);
}

.repair-text {
  max-width: 239px;
  height: 108px;
  padding-top: 24px;
  margin: auto;
  margin-bottom: 11px;
  font-weight: 300;
  font-size: 14px;
  color: var(--text-color);
}

.repair-box-bottom::before {
  content: "";
  display: block;
  width: 284px;
  height: 2px;
  margin-bottom: 15px;
  background-color: var(--accent-color-two);
}

.repair-box-bottom {
  position: relative;
}

.repair-box-bottom .box {
  padding-left: 27px;
  padding-right: 10px;
  margin-bottom: 18px;
}

.repair-box-bottom .box:not(:first-child) {
  margin-bottom: 24px;
}

.repair-box-bottom .card_box_mod:nth-child(1n) {
  margin-bottom: 30px;
}

.price-repair .dismantling {
  font-family: var(--font-three);
  font-weight: 700;
  font-size: 14px;
  color: var(--text-color);
  margin-bottom: 9px;
}

.list-repair .item:not(:nth-last-child(-n+1)) {
  margin-bottom: 6px;
}

.list-repair .item {
  display: flex;
  font-family: var(--font-three);
  color: var(--text-color);
}

.list-repair span {
  display: inline-block;
  max-width: 230px;
}

.list-repair .icons {
  fill: var(--accent-color-two);
  margin-right: 4px;
}

.list-repair .dropdown,
.dropdown {
  display: none;
}

.dropdown-open {
  display: block;
}

.list-but {
  display: flex;
  align-items: end;
  margin: auto;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 18px;
  color: var(--accent-color-two);
}

.list-but .icon {
  fill: currentColor;
}

.price-cards {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 20px;
}

.price-cards .item + .item {
  margin-left: 6px;
}

.price-cards .text {
  font-weight: 400;
  font-size: 14px;
  text-decoration: line-through;
  color: var(--text-color);
}

.text-number {
  font-weight: 700;
}

.text-discount {
  font-weight: 700;
  font-size: 16px;
  color: var(--accent-color-one);
}

.text-number-discount {
  font-size: 18px;
}

.repair-but {
  display: block;
  margin: auto;
  padding: 14px 25px;
  border-radius: 4px;
  color: var(--no-color);
  background-color: var(--button-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.repair-but:hover {
  background-color: var(--button-accent-color);
}

.repair-but:focus {
  background-color: var(--button-clik-color);
}

.form-box {
  text-align: center;
}

.radio-box + .radio-box {
  margin-left: 9px;
}

.radio-icon-box {
  display: inline-flex;
  align-items: center;
}

.radio + .radio-icon-box .radio-icon-click {
  display: none;
}

.radio.check + .radio-icon-box .radio-icon {
  display: none;
}

.radio.check + .radio-icon-box .radio-icon-click {
  display: inline-block;
}

.portfolio {
  padding-top: 34px;
  padding-bottom: 38px;
  background: #f8f8f8;
}

.title-portfolio {
  font-family: var(--font-three);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 26px;
}

.list-portfolio-butt {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 390px;
  margin-bottom: 22px;
}

.portfolio-butt {
  font-family: var(--font-three);
  font-weight: 700;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 4px;
  color: var(--dim-text-color);
  background: #e6e6e6;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), padding 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-butt:hover,
.portfolio-butt:focus {
  padding: 10px 17px;
  color: var(--no-color);
  background: var(--accent-color-two);
}

.radio-portfolio-box {
  display: flex;
  flex-wrap: wrap;
}

.radio-portfolio-box .item {
  width: 25%;
}

.radio-portfolio-box .item:nth-last-child(-n+3) {
  margin-top: 22px;
}

.portfolio-radio {
  display: none;
}

.portfolio-radio:checked + .radio-icon-box .radio-port {
  display: none;
}

.portfolio-radio:not(:checked) + .radio-icon-box .radio-click-port {
  display: none;
}

.text-input {
  margin-left: 7px;
}

.portfolio-radio:checked + .radio-icon-box .text-input {
  color: var(--accent-color-two);
}

.grid__conteiner {
  display: grid;
  grid-template: repeat(4, 55px)/66px 311px;
  gap: 7px;
}

.grid__conteiner .item {
  background: rgba(204, 204, 204, 0.4039215686);
  border-radius: 2px;
}

.grid__conteiner .icon__accent {
  grid-row: 1/5;
  grid-column: 2;
  border-radius: 6px;
}

.imeges-grid {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.infobox {
  display: grid;
  grid-template: 3fr 0.5fr/repeat(2, 1fr);
  grid-template-areas: "infobox details" "text text";
  gap: 6px;
  width: 100%;
  height: 329px;
  margin-top: 16px;
  padding: 20px 0 15px 15px;
  background: #fff;
}

.infobox-list {
  grid-area: infobox;
}

.infobox-list .item {
  display: flex;
  align-items: center;
}

.infobox-list .text {
  font-family: var(--font-one);
  font-weight: 400;
  font-size: 16px;
  color: var(--dim-text-color);
}

.list-details {
  grid-area: details;
}

.list-details .text {
  font-family: var(--font-three);
  font-weight: 700;
  font-size: 16px;
  color: var(--text-color);
}

.list-details .item + .item,
.infobox-list .item + .item {
  margin-top: 6px;
}

.text-list {
  grid-area: text;
  padding-left: 20px;
  list-style: disc;
}

.text-list .text {
  font-family: var(--font-one);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: var(--text-color);
}

.grid-butt {
  font-family: var(--font-three);
  font-weight: 700;
  font-size: 18px;
  color: var(--no-color);
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 28px auto 0 auto;
  width: 100%;
  background-color: var(--button-color);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.grid-butt:hover {
  background-color: var(--button-accent-color);
}

.grid-butt:focus {
  background-color: var(--button-clik-color);
}

.discount {
  padding-top: 44px;
  padding-bottom: 44px;
}

.discount-carousel {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  margin-bottom: 20px;
}

.discount-title {
  font-family: var(--font-three);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin: 0 0 24px 0;
  color: var(--text-color);
}

.discount-carousel .item {
  padding: 281px 3px 32px 3px;
  background-size: cover;
}

.new-settlers {
  background-image: url(../imeges/for-new-settlers@1x.jpg);
}

.newlyweds {
  background-image: url(../imeges/newlyweds@1x.jpg);
}

.pensioners {
  background-image: url(../imeges/pensioners@1x.jpg);
}

.position-box {
  text-align: center;
  width: 376px;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 15%, rgb(255, 255, 255) 15%, rgba(255, 255, 255, 0.774), rgba(255, 255, 255, 0.137));
}

.carousel-title {
  font-family: var(--font-three);
  font-weight: 700;
  font-size: 32px;
  margin: 0 0 8px 0;
  color: var(--text-color);
}

.discount-carousel .text {
  font-family: var(--font-one);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  width: 273px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  color: var(--text-color);
}

.carousel-butt {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  width: 100%;
  padding: 13px 0;
  color: #fff;
  background-color: var(--button-color);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.carousel-butt:hover {
  background-color: var(--button-accent-color);
}

.carousel-butt:focus {
  background-color: var(--button-clik-color);
}

.discount-butt {
  font-family: var(--font-three);
  font-weight: 700;
  font-size: 18px;
  width: 100%;
  margin-top: 33px;
  padding: 15px 0;
  border-radius: 4px;
  border: 2px solid var(--button-color);
  color: var(--button-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.discount-butt:hover {
  color: var(--button-accent-color);
  border: 2px solid var(--button-accent-color);
}

.discount-butt:focus {
  color: var(--button-clik-color);
  border: 2px solid cubic-bezier(0.4, 0, 0.2, 1);
}

.work-title {
  font-family: var(--font-three);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
  color: var(--text-color);
}

.work-process .text {
  font-family: var(--font-one);
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: var(--text-color);
}

.list-work {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  margin-top: 42px;
  padding-top: 14px;
  padding-left: 25px;
}

.list-work::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 804px;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
}

.list-work .item {
  display: flex;
  align-items: center;
  position: relative;
}

.list-work .item::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 23px;
  left: -36px;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  border: 2.5px solid white;
  background-color: #f2f2f2;
  transform: translateY(-50%);
}

.list-work .item + .item {
  margin-top: 57px;
}

.work__box-icons::before {
  width: 15.7px;
  height: 15.7px;
}

.work__ellipse-one::before {
  left: 15.5px;
  bottom: 4px;
}

.work__ellipse-two::before {
  top: 0;
  right: 0.5px;
}

.work__ellipse-three::before {
  left: 13px;
  bottom: 5px;
}

.work__ellipse-four::before {
  top: 2px;
  left: 16px;
}

.work__ellipse-five::before {
  top: 10px;
  left: 12px;
  width: 22px;
  height: 22px;
}

.work__ellipse-six::before {
  left: 6px;
  bottom: 5px;
}

.work__ellipse-seven::before {
  top: 1px;
  right: 2px;
}

.work__ellipse-eight::before {
  right: 7px;
  bottom: 12px;
}

.work-text {
  font-family: var(--font-two);
  font-weight: 500;
  font-size: 16px;
  margin-left: 9px;
  color: var(--text-color);
}

.our-warehouse .conteiner {
  padding-top: 56px;
  padding-bottom: 25px;
  background-color: #f8f8f8;
}

.our-warehouse__title {
  font-family: var(--font-three);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 23px;
  color: var(--text-color);
}

.our-warehouse__list {
  padding: 32px 35px 43px 20px;
  margin-bottom: 23px;
  border-radius: 6px;
  background-color: white;
}

.our-warehouse__list .item {
  display: flex;
  align-items: center;
}

.our-warehouse__list .item + .item {
  margin-top: 23px;
}

.our-warehouse__box-icons::before {
  width: 9.1px;
  height: 9.1px;
}

.our-warehouse__ellipse-one::before {
  right: 12px;
  bottom: 5px;
}

.our-warehouse__ellipse-two::before {
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}

.our-warehouse__ellipse-three::before {
  left: 6px;
  bottom: 3.5px;
  width: 9px;
  height: 9px;
}

.our-warehouse__ellipse-four::before {
  top: 53%;
  left: 50%;
  width: 8px;
  height: 8px;
  transform: translate(-50%, -50%);
}

.our-warehouse__ellipse-five::before {
  left: 0;
  bottom: 6px;
  width: 11.6px;
  height: 11.6px;
}

.waerhouse__images-box {
  display: grid;
  grid-auto-flow: column;
  gap: 11px;
}

.waerhouse__images {
  width: 186px;
  height: 174px;
}

.modal-calc.not-demonstrate {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-calc {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4666666667);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-calc.not-demonstrate .window-calc {
  transform: translate(-50%, -50%) scale(0);
}

.window-calc {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  overflow-y: auto;
  width: 414px;
  height: 100%;
  padding: 36px 0 29px 0;
  border-radius: 5px;
  background-color: var(--no-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.window-closed {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--accent-color-two);
  border: 1px solid var(--accent-color-two);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.window-closed:hover,
.window-closed:focus {
  color: var(--button-clik-color);
  border: 1px solid var(--button-accent-color);
}

.window-closed .icon {
  fill: currentColor;
}

.calc-line {
  font-family: var(--font-three);
  font-weight: 900;
  font-size: 22px;
  text-transform: uppercase;
  max-width: 355px;
  padding-left: 11px;
  padding-bottom: 12px;
  color: var(--text-color);
}

.calc-big-box {
  padding: 0 11px;
}

.radio-box-modal {
  display: flex;
  flex-wrap: wrap;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(116, 116, 116, 0.349);
  padding: 20px 0 22px 0;
  margin: 16px 0 0 0;
}

.radio-box-modal:nth-last-child(-n+1) {
  border-bottom: none;
  padding-bottom: 28px;
}

.radio-box-modal .line {
  font-family: var(--font-three);
  font-weight: 700;
  font-size: 16px;
  color: var(--dim-text-color);
}

.radio-box-modal.one .box {
  width: calc((100% - 67px) / 2);
  margin-bottom: 9px;
}

.radio-box-modal.three .box {
  display: inline-flex;
  align-items: center;
}

.radio-box-modal.three .box + .box {
  margin-left: 23px;
}

.icon-modal-box {
  display: inline-flex;
  align-items: center;
}

.repair-radio:checked + .icon-modal-box .of-radio-icon {
  display: none;
}

.repair-radio:not(:checked) + .icon-modal-box .click-radio-icon {
  display: none;
}

.radio-text {
  font-family: var(--font-one);
  font-weight: 400;
  font-size: 14px;
  margin-left: 9px;
  color: var(--dim-text-color);
}

.repair-radio:checked + .icon-modal-box .radio-text {
  color: var(--accent-color-two);
}

.slider {
  width: 347px;
  height: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  outline: none;
  transition: opacity 0.2s;
  border-radius: 3px;
  background: #d1d1d1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 26px;
  height: 26px;
  background: var(--accent-color-two);
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 26px;
  height: 26px;
  background: var(--accent-color-two);
  border-radius: 50%;
  cursor: pointer;
}

.window-calc .discount-modal-box {
  padding: 17px 0px 0px 18px;
  height: 76px;
  background: #f2f2f2;
}

.discount-modal {
  display: inline-block;
  font-family: var(--font-one);
  font-weight: 400;
  font-size: 16px;
  color: var(--accent-color-two);
}

.discount-modal:nth-last-child(-n+1) {
  margin-left: 93px;
}

.discount-modal .text {
  font-family: var(--font-three);
  font-weight: 700;
  font-size: 18px;
  color: var(--accent-color-two);
}

.calc-tel-box {
  padding: 15px 19px 0 19px;
}

.calc-tel-box .text {
  font-family: var(--font-three);
  font-weight: 700;
  font-size: 16px;
  color: var(--dim-text-color);
  margin-bottom: 17px;
}

.calc-tel {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  margin-bottom: 12px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.calc-tel:focus-within {
  outline: 1px solid var(--accent-color-one);
}

.calc-tel-but {
  font-family: var(--font-three);
  font-weight: 700;
  font-size: 18px;
  padding: 15px 145px;
  color: var(--no-color);
  background-color: var(--button-color);
  transition: background-color 250ms ease-in;
}

.calc-tel-but:hover {
  background-color: var(--button-accent-color);
}

.calc-tel-but:focus {
  background-color: var(--button-clik-color);
}

.black-box-contacts.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.black-box-contacts {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4666666667);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.black-box-contacts.is-hidden .modal-contacts {
  transform: translate(-50%, -50%) scale(0);
}

.modal-contacts {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 414px;
  padding: 36px 11px 29px 11px;
  background-color: var(--no-color);
}

.modal-closed {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 9px;
  border: 1px solid var(--button-color);
  border-radius: 50%;
  color: var(--button-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-closed:hover,
.modal-closed:focus {
  color: var(--button-clik-color);
  border: 1px solid var(--button-clik-color);
}

.list-modal-contacts {
  text-align: center;
}

.list-modal-contacts .link {
  font-family: var(--font-one);
  font-weight: 700;
  font-size: 18px;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-modal-contacts .link:hover,
.list-modal-contacts .link:focus {
  color: var(--button-clik-color);
}

.list-modal-contacts .icon {
  fill: currentColor;
  margin-right: 5px;
}

.social-text {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  text-align: center;
  font-family: var(--font-three);
  font-weight: 700;
  font-size: 16px;
  color: #171616;
}

.social-text .icon-box {
  padding-top: 5px;
}

.social-text .icon {
  fill: var(--accent-color-one);
}

.list-social {
  display: flex;
  justify-content: space-evenly;
  max-width: 200px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.link-social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: var(--accent-color-one);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social:hover,
.link-social:focus {
  color: var(--no-color);
  background: var(--button-clik-color);
  border-radius: 50%;
}

.icon-social {
  fill: currentColor;
}

.right-four {
  margin-right: 4px;
}

.flashing {
  color: #c4c4c4;
  fill: #c4c4c4;
}

.all-radio {
  display: none;
}

.icon-mod-number {
  align-items: center;
}

.number-mod {
  margin-left: 11px;
}

._time-contact {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

.dropdown-mod {
  display: none;
}/*# sourceMappingURL=style.css.map */
